{% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
        This is a system message for you. Please pay attention to it!
    </div>
    <!-- <div class="container mt-5">
        <h1>编辑Disaster记录</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="dis_no" class="form-label">Dis No</label>
                        <input type="text" class="form-control" id="dis_no" name="dis_no" value="{{ dis_no }}">
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" class="form-control" id="year" name="year" value="{{ year }}">
                    </div>
                    <div class="mb-3">
                        <label for="seq" class="form-label">Seq</label>
                        <input type="text" class="form-control" id="seq" name="seq" value="{{ seq }}">
                    </div>
                    <div class="mb-3">
                        <label for="glide" class="form-label">Glide</label>
                        <input type="text" class="form-control" id="glide" name="glide" value="{{ glide }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="disaster_group" class="form-label">Disaster Group</label>
                        <input type="text" class="form-control" id="disaster_group" name="disaster_group" value="{{ disaster_group }}">
                    </div>
                    <div class="mb-3">
                        <label for="disaster_subgroup" class="form-label">Disaster Subgroup</label>
                        <input type="text" class="form-control" id="disaster_subgroup" name="disaster_subgroup" value="{{ disaster_subgroup }}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
        </form>
    </div> -->
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Real Disaster ID</th>
                        <th scope="col">ID</th>
                        <th scope="col">Year</th>
                        <th scope="col">Disaster Group</th>
                        <th scope="col">Disaster Type</th>
                        <th scope="col">Country</th>
                        <th scope="col">ISO</th>
                        <th scope="col">Total Affected</th>
                        <th scope="col">Total Damages</th>
                        <!-- <th scope="col">Status(1: Deleted 0: Non-Deleted)</th> -->
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">Sequence Number</th>
                        <th scope="col">Disaster SubGroup</th>
                        <th scope="col">Disaster SubType</th>
                        <th scope="col">Region</th>
                        <th scope="col">Continent</th>
                        <th scope="col">Location</th>
                        <th scope="col">OFDA Response</th>
                        <th scope="col">Appeal</th>
                        <th scope="col">Declaration</th>
                        <th scope="col">Local Time</th>
                        <th scope="col">Start Year</th>
                        <th scope="col">Start Month</th>
                        <th scope="col">Start Day</th>
                        <th scope="col">End Year</th>
                        <th scope="col">End Month</th>
                        <th scope="col">End Day</th>
                        <th scope="col">Death Number</th>
                        <th scope="col">Insured Damages (USD)</th>
                        <!-- <th scope="col">Total Damages (USD)</th> -->
                        <!-- <th scope="col">Real Disaster ID</th> -->
                        <th scope="col">Disaster SubSubType</th>
                        <th scope="col">CPI</th>   
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                    <tr>
                        <th scope="row">{{ item.0 }}</th>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        <td>{{ item.3 }}</td>
                        <td>{{ item.4 }}</td>
                        <td>{{ item.5 }}</td>
                        <td>{{ item.6 }}</td>
                        <td>{{ item.7 }}</td>
                        <td>{{ item.8 }}</td>
                        <!-- <td>{{ item.9 }}</td> -->
                        <!-- <td>{{ item.10 }}</td> -->
                        <td>{{ item.11 }}</td>
                        <td>{{ item.12 }}</td>
                        <td>{{ item.13 }}</td>
                        <td>{{ item.14 }}</td>
                        <td>{{ item.15 }}</td>
                        <td>{{ item.16 }}</td>
                        <td>{{ item.17 }}</td>
                        <td>{{ item.18 }}</td>
                        <td>{{ item.19 }}</td>
                        <td>{{ item.20 }}</td>
                        <td>{{ item.21 }}</td>
                        <td>{{ item.22 }}</td>
                        <td>{{ item.23 }}</td>
                        <td>{{ item.24 }}</td>
                        <td>{{ item.25 }}</td>
                        <td>{{ item.26 }}</td>
                        <td>{{ item.27 }}</td>
                        <td>{{ item.28 }}</td>
                        <!-- <td>{{ item.29 }}</td>
                        <td>{{ item.30 }}</td> -->
                        <td>{{ item.31 }}</td>
                        <td>{{ item.32 }}</td>
                        <!-- <td>
                            <a href="/edit/{{ disaster.Dis_ID }}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="/list/delete/{{ disaster.Dis_ID }}" class="btn btn-danger btn-sm">Delete</a>
                        </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>