{% include 'common/header.html' %}
{% include 'common/nav.html' %}
<head>
    <style>
        .white-background {
            background-color: white;
        }
    </style>
</head>
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
        {{message_obj.0.message}}
    </div>
    <div class="container">
        <div class="row">
            {% for item in list %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#765e86;">
                        <h3>ID:{{ item.1 }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#749146;">
                        <h3>Disaster ID:{{ item.0 }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#ac5d7b;">
                        <h3>Year:{{ item.2 }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#4ca06c;">
                        <h3>Country:{{ item.5 }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <table class="table table-bordered white-background">
                    <tbody>
                        <tr>
                            <td><strong>Insured Damages (USD):</strong> {{ item.28 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Disaster SubSubType:</strong> {{ item.31 }}</td>
                        </tr>
                        <tr>
                            <td><strong>CPI:</strong> {{ item.32 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Disaster Group:</strong> {{ item.3 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Disaster Type:</strong> {{ item.4 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered white-background">
                    <tbody>
                        <tr>
                            <td><strong>ISO:</strong> {{ item.6 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Total Affected:</strong> {{ item.7 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Total Damages:</strong> {{ item.8 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Sequence Number:</strong> {{ item.11 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Disaster SubGroup:</strong> {{ item.12 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered white-background">
                    <tbody>
                        <tr>
                            <td><strong>Disaster SubType:</strong> {{ item.13 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Region:</strong> {{ item.14 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Continent:</strong> {{ item.15 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Location:</strong> {{ item.16 }}</td>
                        </tr>
                        <tr>
                            <td><strong>OFDA Response:</strong> {{ item.17 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered white-background">
                    <tbody>
                        <tr>
                            <td><strong>Appeal:</strong> {{ item.18 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Declaration:</strong> {{ item.19 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Local Time:</strong> {{ item.20 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Start Year:</strong> {{ item.21 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Start Month:</strong> {{ item.22 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered white-background">
                    <tbody>
                        <tr>
                            <td><strong>Start Day:</strong> {{ item.23 }}</td>
                        </tr>
                        <tr>
                            <td><strong>End Year:</strong> {{ item.24 }}</td>
                        </tr>
                        <tr>
                            <td><strong>End Month:</strong> {{ item.25 }}</td>
                        </tr>
                        <tr>
                            <td><strong>End Day:</strong> {{ item.26 }}</td>
                        </tr>
                        <tr>
                            <td><strong>Death Number:</strong> {{ item.27 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <table class="table table-bordered white-background">
                    <tbody>
                        <tr>
                            <td>
                                This is a description of the disaster event with ID {{ item.1 }}:
                                This natural disaster took place in {{ item.2 }} in the country of {{ item.5 }} ({{ item.6 }}), located in the {{ item.14 }} region of the {{ item.15 }} continent. The disaster belongs to the {{ item.12 }} category, specifically {{ item.13 }}. It began on {{ item.21 }}-{{ item.22 }}-{{ item.23 }} and lasted until {{ item.24 }}-{{ item.25 }}-{{ item.26 }}. This {{ item.13 }} affected a total of {{ item.7 }} people nationwide and resulted in {{ item.27 }} deaths. The total damages amounted to {{ item.8 }} USD, but no insured damages were paid out. The event's sequence number is {{ item.11 }} and belongs to the {{ item.3 }} group.
                                This {{ item.13 }} did not trigger a response from OFDA (US Office of Foreign Disaster Assistance), nor was there an appeal for assistance or a declaration of a state of emergency. The local time was {{ item.20 }}.
                                The ISO code for {{ item.5 }} is {{ item.6 }}, and the Consumer Price Index (CPI) at the time was {{ item.32 }}. The specific sub-subtype of this disaster is {{ item.31 }}.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
