{% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
       {{message_obj.0.message}}
    </div>
    <div class="container mt-5">
        <h1>system Station</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form method="get" action="{% url 'message_submit' %}">
                        <div class="card-body">
                            <h5 class="card-title">System Message</h5>
                            <hr>
                            <div class="mb-3">
                                <label for="question" class="form-label">Message</label>
                                <input type="text" class="form-control" name="message">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">History (Only the last 10 data items are displayed)</h5>
                        <hr>
                        <div class="text-muted mb-3">
                            {% for message in message_obj %}
                            <span>{{ message.message }}</span><br><hr>
                            {% endfor %}  
                        </div>
                        <div id="answer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>