{% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
        This is a system message for you. Please pay attention to it!
    </div>
    <div class="container mt-5">
        <h1>system Station</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">System Message</h5>
                        <hr>
                        <div class="mb-3">
                            <label for="question" class="form-label">Message</label>
                            <input type="text" class="form-control" id="question">
                        </div>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">History</h5>
                        <hr>
                        <div class="text-muted mb-3">
                            <span>Message 1</span><br>
                            <span>Message 2</span><br>
                            <span>Message 3</span><br>   
                        </div>
                        <div id="answer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>