{% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
        This is a system message for you. Please pay attention to it!
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#7abaee;">
                        <h3>{{ num_disasters }}</h3>
                        <p>Total Data</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#7dc904;">
                        <h3>{{ num_years }}</h3>
                        <p>Years</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#f17e64;">
                        <h3>{{ num_disaster_types }}</h3>
                        <p>Disaster Types</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center text-white" style="background-color:#b7b410;">
                        <h3>{{ num_countries }}</h3>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">1970 -2021 Map of disaster countries</h5>
                    <hr>
                    <div>{{ map_chart_html|safe }}</div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Line Chart</h5>
                            <hr>
                            <div>{{ line_chart_html|safe }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Pie Chart</h5>
                            <hr>
                            <div>{{ pie_chart_html|safe }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Top 10 Affected Countries</h5>
                            <hr> {% autoescape off %} {{ top_10_affected_table|safe }} {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Top 10 Damaged Countries</h5>
                            <hr> {% autoescape off %} {{ top_10_damaged_table|safe }} {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>