 {% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
        {{message_obj.0.message}}
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="get" action="{% url 'search' %}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="form-select" name="search_field">
                                <option value="all">please select</option>
                                <option value="Year">Year</option>
                                <option value="Disaster_Group">Disaster Group</option>
                                <option value="Country">Country</option>
                            </select>
                        </div>
                        <input type="text" class="form-control flex-grow-1" name="search_query" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 text-end">
                <a href="/download/{{ disasters.number }}/{{ search_field }}/{{ search_query }}/" class="btn btn-success btn-sm">csv-download</a>
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Year</th>
                            <th scope="col">Disaster Group</th>
                            <th scope="col">Disaster Type</th>
                            <th scope="col">Country</th>
                            <th scope="col">ISO</th>
                            <th scope="col">Total Affected</th>
                            <th scope="col">Total Damages (USD)</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disaster in disasters %}
                        <tr>
                            <th scope="row">{{ disaster.Dis_ID }}</th>
                            <td>{{ disaster.Year }}</td>
                            <td>{{ disaster.Disaster_Group }}</td>
                            <td>{{ disaster.Disaster_Type }}</td>
                            <td>{{ disaster.Country }}</td>
                            <td>{{ disaster.ISO }}</td>
                            <td>{{ disaster.Total_Affected }}</td>
                            <td>{{ disaster.Total_Damages }}</td>
                            <td>
                                <a href="/edit/{{ disaster.id }}" class="btn btn-primary btn-sm">Details</a>
                                <a href="/list/delete/{{ disaster.Dis_ID }}" class="btn btn-danger btn-sm">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row my-3">
            <div class="col-12 col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item {% if not disasters.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if search_query and search_field %}?search_query={{ search_query }}&search_field={{ search_field }}&page=1{% else %}?page=1{% endif %}" tabindex="-1" aria-disabled="true">First</a>
                        </li>
                        <li class="page-item {% if not disasters.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if disasters.has_previous %}?{% if search_query and search_field %}search_query={{ search_query }}&search_field={{ search_field }}&{% endif %}page={{ disasters.previous_page_number }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% for i in page_range %}
                        {% if disasters.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?{% if search_query and search_field %}search_query={{ search_query }}&search_field={{ search_field }}&{% endif %}page={{ i }}">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if search_query and search_field %}search_query={{ search_query }}&search_field={{ search_field }}&{% endif %}page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not disasters.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if disasters.has_next %}?{% if search_query and search_field %}search_query={{ search_query }}&search_field={{ search_field }}&{% endif %}page={{ disasters.next_page_number }}{% else %}#{% endif %}">Next</a>
                        </li>
                        <li class="page-item {% if not disasters.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if search_query and search_field %}?search_query={{ search_query }}&search_field={{ search_field }}&page={{ disasters.paginator.num_pages }}{% else %}?page={{ disasters.paginator.num_pages }}{% endif %}" tabindex="-1" aria-disabled="true">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        

    </div>
</div>