{% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="main-content">
    <div class="alert alert-warning mt-3" role="alert">
        {{message_obj.0.message}}
    </div>
    <div class="container mt-5">
        <h1>Account Management</h1>
        <hr>
        <div class="d-flex justify-content-end mb-3">
            <a href="/authen/adduser/" class="btn btn-primary">Add Account</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Status</th>
                    <th>Operate</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.user_name }}</td>
                    <td>{% if user.user_level == 3 %}
                        Super Administrator
                        {% elif user.user_level == 2 %}
                        Administrator
                        {% elif user.user_level == 1 %}
                        General User
                        {% endif %}
                    </td>
                    <td>{% if user.login_status == '1' %}
                        <span style="color:green">Logged in</span>
                        {% else %}
                        <span style="color:red">Not logged in</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            {% if user.user_name != 'admin' %}
                               <a href="/authen/remove/{{user.user_id}}/" class="btn btn-danger btn-sm">Remove</a>
                            {% endif %}
                        </div>
                    </td>    
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
